@media (max-width: 320px) {
	body{
		display: flex;
		flex-direction: column;
	}

	.top {
		width: 100%;
		height: 570px;
		background-image: url(../images/football_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		
	}

	.apple_store, .google_play {
		height: 36px;
		width: 280px;
		background-color: #5e42b0;
		border-radius: 100px;
		color: white;
	}

	path{
		fill: white;
	}

	.apple{
		width: 100%;
		height: 100%;
	}

	.surface_logo_text{
		width: 130px;
	}

	.bottom_links {
		display: flex;
		flex-wrap: wrap;
		color: white;
	}

	.mask {
		z-index: 1;
		color: #5e42b0;
		opacity: 0.7;
		position: absolute;
	}

	.athlets {
		height: 1010px;
		width: 100%;
	}

	.top_athlets {
		background-color: #ffffff;
		height: 306px;
	}

	.text_athlets {
		font-size: 36px;
		color: #e7e7e7;
	}

	.footballer {
		width: 100%;
		height: 300px;
		background-repeat: no-repeat;
		z-index: 10;
		background-image: url(../images/footballer_192.png);
	}

	.connection {
		height: 214px;
		width: 100%;
		background-color: #fafafa;
	}

	.collaboration {
		height: 260px;
		width: 100%;
		background-color: #f5f4f9;
	}

	.growth {
		height: 230px;
		width: 100%;
		background-color: #5e42b0;
	}

	.players {
		height: 936px;
		width: 100%;
	}

	.top_players {
		height: 304px;
		width: 100%;
		background-color: #ffffff;
	}

	.p_connection {
		height: 250px;
		width: 100%;
		background-color: #fafafa;
	}

	.p_collaboration {
		height: 192px;
		width: 100%;
		background-color: #f5f4f9;	
	}

	.p_growth {
		height: 190px;
		width: 100%;
		background-color: #090c35;
	}

	.be_active {
		height: 564px;
		width: 100%;
	}

	.find_contact {
		height: 548px;
		width: 100%;
	}

	.work_it {
		height: 576px;
		width: 100%;
	}

	.footer {
		height: 568px;
		width: 100%;
	}
}