@media (max-width: 320px) {
	body{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		font-family: OpenSans;
	}

	.top {
		width: 100%;
		height: 570px;
		background-image: url(../images/football_767.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		background-position: center;
		justify-content: space-around;
	}

	.top::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #5e42b0;
  	opacity: 0.8;
	}

	.surface_logo_text{
		width: 130px;
		height: 36px;
		z-index: 2;
	}
	
	.mid_text {
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 280px;
	}

	.BE_RECRUITED {
		font-size: 20px;
		color: #ffffff;
	}

	.PLAY_COLLEGE_SPORTS {
		font-size: 20px;
		color: #ffffff;
		width: 214px;
	}

	.apple_store, .google_play {
		height: 36px;
		width: 280px;
		background-color: #5e42b0;
		border-radius: 100px;
		color: white;
		display: flex;
		align-items: center;
		z-index: 2;
		margin: 7px;
	}

	path{
		fill: white;
	}

	.apple_svg, .google_play_svg {
		/*width: 10px;*/
		height: 24px;
		margin-right: 4px;
	}

	.bottom_links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		color: white;
		z-index: 2;
	}

	.app_store_content {
		display: flex;
		/*flex-direction: row;*/
		align-items: center;
		margin: calc(50% - 56px);
		z-index: 2;
	}

	.top_text {
		font-size: 8px;
		font-family: OpenSans;
	}

	.bot_text {
		font-size: 8px;
		font-family: OpenSans bold;
	}

	.athlets {
		height: 1010px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top_athlets {
		background-color: #ffffff;
		height: 306px;
		width: 100%;
	}

	.big_title {
		font-size: 36px;
		color: #e7e7e7;
		align-items: flex-start;
	}

	.small_title {
		font-size: 20px;
		color: #c1c1c1;
	}

	.footballer {
		width: 100%;
		height: 300px;
		align-items: center;
		background-repeat: no-repeat;
		background-image: url(../images/footballer_192.png);
	}

	.connection {
		height: 214px;
		width: 100%;
		background-color: #fafafa;
	}

	.collaboration {
		height: 260px;
		width: 100%;
		background-color: #f5f4f9;
	}

	.growth {
		height: 230px;
		width: 100%;
		background-color: #5e42b0;
	}

	.players {
		height: 936px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top_players {
		height: 304px;
		width: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
	}

	.p_connection {
		height: 250px;
		width: 100%;
		background-color: #fafafa;
	}

	.p_collaboration {
		height: 192px;
		width: 100%;
		background-color: #f5f4f9;	
	}

	.p_growth {
		height: 190px;
		width: 100%;
		background-color: #090c35;
	}

	.be_active {
		height: 564px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top_img_be_active {
		height: 352px;
		width: 100%;
		background-size: cover;
		background-image: url(../images/be-active_640.jpg);
	}

	.be_active_content {
		height: 212px;
		width: 100%;
	}

	.find_contact {
		height: 548px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top_img_find_contact {
		height: 352px;
		width: 100%;
		background-size: cover;
		background-image: url(../images/find-contact_640.jpg);
	}

	.find_contact_content {
		height: 196px;
		width: 100%;
	}

	.work_it {
		height: 576px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.top_img_work_it {
		height: 352px;
		width: 100%;
		background-size: cover;
		background-image: url(../images/work-it_640.jpg);
	}

	.work_it_content {
		height: 224px;
		width: 100%;
	}

	.footer {
		height: 568px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		background-position: center;
		background-image: url(../images/game_767.jpg);
	}

	.footer::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #5e42b0;
  	opacity: 0.8;
}
}