a {
	text-decoration: none
}

path{
	fill: white;
}

.bottom {
	max-width: 100vw;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	font-family: OpenSans;
}

picture {
	position: relative;
	z-index: -1;
	max-width: 100vw;
}

img {
	max-width: 100vw;
}

h2 {
	text-transform: uppercase;
}

.top {
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-position: center;
	justify-content: space-around;
}

.top::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #202346;
  	opacity: 0.8;
}

.surface_logo_text{
	z-index: 2;
}

.mid_text {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.BE_RECRUITED {
	color: #ffffff;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
}

.PLAY_COLLEGE_SPORTS {
	color: #ffffff;
	align-self: flex-end;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
}

.apple_store, .google_play {
	background-color: #5e42b0;
	color: white;
	display: flex;
	align-items: center;
	z-index: 2;
}

.bottom_links {
	display: flex;
	flex-wrap: wrap;
	color: white;
	z-index: 2;
}

.app_store_content {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}

.top_text {
	font-family: OpenSans;
	text-transform: uppercase;
}

.bot_text {
	font-family: OpenSans-Bold;
	text-transform: uppercase;
}

.athlets {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

picture.sportsmen {
	z-index: 3;
}

.big_title {
	color: #e7e7e7;
	align-self: flex-start;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
}

.small_title {
	color: #c1c1c1;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
}

.small_title_b {
	color: #c1c1c1;
	align-self: flex-start;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
}

.text_black {
	text-align: left;
	font-family: OpenSans;
}

.text_black_b {
	text-align: left;
	font-family: OpenSans;
}

.text_white {
	color: #dedbed;
	font-family: OpenSans;
}

.footballer {
	height: 100%;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.connection {
	width: 100%;
	background-color: #fafafa;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.betw_info {
	display: flex;
}

.number {
	justify-content: center;
}

.n_text {
	font-family: OpenSans-Bold;
}

.n_text_ph {
	font-family: OpenSans-Bold;
	color: #5e42b0;
}

.n_text_w {
	font-family: OpenSans-Bold;
	color: #f5f6f7;
}

.n_underline {
	background-color: #5e42b0;
	width: 100%;
}

.n_underline_w {
	background-color: #ffffff;
	width: 100%;
}

.n_underline_ph {
	background-color: #8f7bc8;
	width: 100%;
}

.collaboration {
	width: 100%;
	background-color: #f5f4f9;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.growth {
	width: 100%;
	background-color: #5e42b0;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.players {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p_connection {
	background-color: #fafafa;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.p_collaboration {
	background-color: #f5f4f9;	
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.p_growth {
	background-color: #090c35;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.be_active {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top_img_be_active {
	width: 100%;
	background-size: cover;
	position: relative;
}

.block_number {
	background-color: #5e42b0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 10;
}

.be_active_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.find_contact {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top_img_find_contact {
	width: 100%;
	background-size: cover;
	position: relative;
}

.find_contact_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.work_it {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top_img_work_it {
	width: 100%;
	background-size: cover;
	position: relative;
}

.work_it_content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

footer::after {
  	content: '';
  	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	background-color: #202346;
  	opacity: 0.8;
}

.emblem {
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to bottom, #7656d6, #50379a);
}

.b_center_text {
	width: 100%;
	z-index: 9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.footer_top_text {
	color: #ffffff;
	font-family: OpenSans-Bold;
}

.footer_bot_text {
	color: #9084b5;
}

.desktop_block {
	z-index: 3;
	display: flex;
}

@media (max-width: 640px) {
	
	.top {
		height: 178.125vw;
		justify-content: space-between;
		background-image: url(../images/football_767.jpg);
	}

	.top .surface_logo_text{
		width: 40.625vw;
		margin-top: 10vw;
	}

	footer .surface_logo_text{
		width: 40.625vw;
	}
	
	.mid_text {
		width: 87.5vw;
		margin-top: 25vw;
	}

	.BE_RECRUITED {
		font-size: 8.75vw;
	}

	.PLAY_COLLEGE_SPORTS {
		font-size: 8.75vw;
		width: 66.875vw;
		margin-top: 5vw;
	}

	.apple_store, .google_play {
		height: 11.25vw;
		width: 87.5vw;
		border-radius: 31.25vw;
		margin: 2.1875vw;
	}

	.apple_svg, .google_play_svg {
		height: 7.5vw;
		margin-right: 1.25vw;
	}

	.top .bottom_links {
		flex-direction: column;
		margin-bottom: 25vw;
	}

	footer .bottom_links {
		flex-direction: column;
	}

	.app_store_content {
		margin: calc(50% - 17.5vw);
	}

	.top_text {
		font-size: 2.5vw;
	}

	.bot_text {
		font-size: 2.5vw;
	}

	.athlets .sportsmen {
		/*margin-bottom: -6vw;*/
		margin-bottom: -15vw;
		height: 88.125vw;
	}

	.players .sportsmen {
		/*margin-bottom: -6vw;*/
		margin-bottom: -10vw;
		height: 77.5vw;
	}

	.big_title {
		/*font-size: 11.25vw;*/
		font-size: 15.625vw;
		/*margin-top: 6.25vw;*/
		margin-top: 1vw;
		margin-bottom: 6.25vw;
		margin-left: 6.25vw;
	}

	.small_title {
		/*font-size: 6.25vw;*/
		font-size: 7.1875vw;
		margin-left: 3.125vw;
	}

	.small_title_b {
		/*font-size: 6.25vw;*/
		font-size: 8.75vw;
		margin-left: 6.25vw;
	}

	.text_black {
		/*font-size: 5.625vw;*/
		font-size: 4.6875vw;
		width: 87.5vw;
	}

	.text_black_b {
		font-size: 5.625vw;
		width: 87.5vw;
	}

	.text_white {
		/*font-size: 5.625vw;*/
		font-size: 4.6875vw;
		width: 87.5vw;
	}

	.connection {
		height: 55.625vw;
		margin-top: 6.25vw;
	}

	.betw_info {
		width: 87.5vw;
	}

	.number {
		max-width: 5vw;
	}

	.number_b {
		max-width: 5vw;
	}

	.n_text {
		font-size: 3.75vw;
	}

	.n_text_ph {
		font-size: 3.75vw;
	}

	.n_text_w {
		/*font-size: 3.75vw;*/
		font-size: 4.375vw;
	}

	.n_underline {
		height: 1.25vw;
		border-radius: 3.125vw;
	}

	.n_underline_w {
		height: 1.25vw;
		border-radius: 3.125vw;
	}

	.n_underline_ph {
		height: 1.25vw;
		border-radius: 3.125vw;
	}

	.collaboration {
		height: 81.25vw;
	}

	.growth {
		height: 71.875vw;
	}

	.p_connection {
		height: 77.5vw;
		width: 100%;
	}

	.p_collaboration {
		height: 60vw;
		width: 100%;
	}

	.p_growth {
		height: 59.375vw;
		width: 100%;
	}

	.be_active {
		height: 176.25vw;
	}

	.top_img_be_active {
		height: 110vw;
	}

	.block_number {
		height: 21.875vw;
		width: 21.875vw;
		margin-left: 6.25vw;
		margin-top: -20vw;
	}

	.be_active_content {
		height: 62.5vw;
	}

	.find_contact {
		height: 171.25vw;
	}

	.top_img_find_contact {
		height: 110vw;
	}

	.find_contact_content {
		height: 57.5vw;
	}

	.work_it {
		height: 180vw;
	}

	.top_img_work_it {
		height: 110vw;
	}

	.work_it_content {
		height: 66.25vw;
	}

	footer {
		height: 177.5vw;
		background-image: url(../images/game_767.jpg);
	}

	.emblem {
		width: 22.5vw;
		height: 23.125vw;
		border-radius: 6.25vw;
		margin-bottom: 18.75vw;
	}

	.footer_top_text {
		/*font-size: 7.5vw;*/
		font-size: 10vw;
	}

	.footer_bot_text {
		/*font-size: 3.125vw;*/
		font-size: 4.375vw;
	}

	.svg_emblem {
		width: 18.125vw;
	}

	.desktop_block {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}	
}