@media (min-width: 961px) {
	
	.top {
		max-width: 100vw;
		height: 50vw;
		background-image: url(../images/football_1920.jpg);
	}

	.surface_logo_text{
		width: 10vw;
	}

	.mid_text {
		width: 52.1875vw;
	}

	.BE_RECRUITED {
		font-size: 3.4375vw;
		width: 34.6875vw;
		align-self: flex-start;
	}

	.PLAY_COLLEGE_SPORTS {
		font-size: 3.4375vw;
		align-self: flex-end;
	}

	.apple_store, .google_play {
		height: 4.0625vw;
		width: 16.25vw;
		border-radius: 4vw;
		margin: 1.5625vw;
		align-items: center;
		justify-content: center;
	}

	.apple_svg, .google_play_svg {
		height: 2.5vw;
		margin-right: 1.5625vw;
	}

	.bottom_links {
		flex-wrap: nowrap;
		flex-direction: row;
	}

	.top_text {
		font-size: 0.9375vw;
	}

	.bot_text {
		font-size: 0.9375vw;
	}

	.athlets .sportsmen {
		position: absolute;
		left: 10vw;
		height: 47.1875vw;
	}

	.players .sportsmen {
		position: absolute;
		right: 5vw;
		width: 51.40625vw;
	}

	.athlets .big_title {
		font-size: 3.125vw;
		margin-top: ;
		width: 43.3475vw;
		align-self: flex-end;
	}

	.players .big_title {
		font-size: 3.125vw;
		margin-left: 10vw;
	}

	.small_title {
		font-size: 1.5625vw;
		margin-left: 0.625vw;
	}

	.small_title_b {
		font-size: 2.8125vw;
	}

	.athlets .text_black {
		font-size: 0.9375vw;
		width: 37.1875vw;
		margin-right: 6.0416666666vw;
	}

	.players .text_black {
		font-size: 0.9375vw;
		width: 37.1875vw;
		margin-left: 10vw;
	}

	.players .betw_info {
		margin-left: 10vw;
	}

	.text_black_b {
		font-size: 0.9375vw;
		width: 33.125vw;
		align-self: flex-start;
	}

	.text_white {
		font-size: 0.9375vw;
		width: 43.3475vw;
	}

	.players .text_white {
		font-size: 0.9375vw;
		width: 43.3475vw;
		margin-left: 10vw;
	}

	.connection {
		height: 12.5vw;
		background-color: #ffffff;
		align-items: flex-end;
	}

	.betw_info {
		width: 43.3475vw;
	}

	.number {
		max-width: 1.25vw;
	}

	.n_text {
		font-size: 0.9375vw;
	}

	.n_text_ph {
		font-size: 0.9375vw;
	}

	.n_text_w {
		font-size: 0.9375vw;
	}

	.n_underline {
		height: 0.3125vw;
		border-radius: 1vw;
	}

	.n_underline_w {
		height: 0.3125vw;
		border-radius: 1vw;
	}

	.n_underline_ph {
		height: 0.3125vw;
		border-radius: 1vw;
	}

	.collaboration {
		height: 13.125vw;
		align-items: flex-end;
	}

	.growth {
		height: 11.5625vw;
		align-items: flex-end;
	}

	.p_connection {
		height: 14.0625vw;
		width: 100%;
		background-color: #ffffff;
		align-items: flex-start;
	}

	.p_collaboration {
		height: 11.875vw;
		width: 100%;
		align-items: flex-start;
	}

	.p_growth {
		height: 10.3125vw;
		width: 100%;
		align-items: flex-start;
	}

	.be_active {
		display: flex;
		flex-direction: row;
	}

	.top_img_be_active {
		height: 38.020833333vw;
		width: 50vw;
		align-self: flex-start;
	}

	.block_number {
		height: 8.125vw;
		width: 8.75vw;
		position: absolute;
		bottom: 19.0625vw;
		left: 45.625vw;
	}

	.top_img_find_contact .block_number {
		left: -4.375vw;
	}

	.be_active_content {
		width: calc(100% - 38.020833333vw);
		margin-left: 6.875vw;
		justify-content: center;
		align-self: center;
	}

	.find_contact {
		display: flex;
		flex-direction: row-reverse;
	}

	.top_img_find_contact {
		height: 38.020833333vw;
		width: 50vw;
		align-self: flex-end;
	}

	.find_contact_content {
		width: calc(100% - 38.020833333vw);
		margin-left: 10vw;
		justify-content: center;
		align-self: center;
	}

	.work_it {
		display: flex;
		flex-direction: row;
	}

	.top_img_work_it {
		height: 38.020833333vw;
		width: 50vw;
		align-self: flex-start;
	}

	.work_it_content {
		width: calc(100% - 38.020833333vw);
		justify-content: center;
		align-self: center;
		margin-left: 6.875vw; 
	}

	footer {
		max-width: 100vw; 
		height: 50vw;
		justify-content: space-around;
		background-image: url(../images/game_1920.jpg);
	}

	.emblem {
		width: 7vw;
		width: 7vw;
		border-radius: 1vw;
		margin-right: 1.5625vw;
	}

	.footer_top_text {
		font-size: 3.125vw;
	}

	.footer_bot_text {
		font-size: 1.25vw;
	}

	.svg_emblem {
		width: 5vw;
	}

	.desktop_block {
		flex-direction: row;
		margin-top: 11.875vw;
	}
}